.cab{
    background-color: var(--azul);
    display: flex;
    justify-content: center;
    position: relative;
}
.container{
    display: flex;
    align-items: center;
}
.container_botao{
    display: none;
}
.cab_menu{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.container_img{
    padding: 1em;
}
.lista_menu{
    display: none;
    position: absolute;
    top: 90%;
    background-color: var(--azul);
    width: 40vw;
    color: white;
}
.lista_menu_tit{
    color: white;
    font-weight: 800px;
}
.container_botao:checked~.lista_menu{
    display: block;
}
.lista-menu_titulo, .lista-menu_item{
    padding: 1em;
}
.container__imagem, .logotipo{
    width: 300px;
}
.container__titulo, .container__titulo--negrito{
    display:block;
    margin-right: 300px;
    color: white;
    font-size: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.quadrado{
    width: 340px;
    height: 500px;
    background-color: black;
    justify-content: left;
    padding: 40px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    margin-top: 60px;
}
.quadrado img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    justify-content: left;
}
.quadrado p{
    font-size: 23px;
    color: white;
    justify-content: center;
    display: inline;
}
.quadrado-container{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}
.quadrado1{
    width: 400px;
    height: 600px;
    background-color: black;
    justify-content: center;
    margin-left: 500px;
    padding: 27px;
    text-align: center;
    margin-top: 20px;
}
.quadrado1 img{
    width: 400px;
    height: 600px;
    object-fit: cover;
    justify-content: center;

}
.quadrado-container1{
    display: flex;
    gap: 30px;
    justify-content: right;
    flex-wrap: wrap;
}
@media screen and (min-width:820px){
    .slogan{
        display: inline;
    }
}
@media screen and (min-width: 1024px){
    .container_img{
        display: block;
    }
}
